USE [QUANLYHOCTAP]
GO
/****** Object:  Table [dbo].[DMLOPHOC]    Script Date: 12/24/2022 4:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMLOPHOC](
	[MALOPHOC] [char](10) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOPHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 12/24/2022 4:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGIAOVIEN] [char](10) NOT NULL,
	[TENGIAOVIEN] [nvarchar](50) NULL,
	[PHAI] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SODT] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGIAOVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOIDONG]    Script Date: 12/24/2022 4:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOIDONG](
	[MAHOIDONG] [char](10) NOT NULL,
	[TENHOIDONG] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[TINHTHANHPHO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOIDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUAHOCTAP]    Script Date: 12/24/2022 4:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUAHOCTAP](
	[IDTS] [char](5) NOT NULL,
	[MAKHOAHOC] [char](5) NOT NULL,
	[DIEMTHI] [int] NULL,
	[DIEMTIEULUAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTS] ASC,
	[MAKHOAHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHANANG]    Script Date: 12/24/2022 4:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHANANG](
	[MAKHANANG] [char](10) NOT NULL,
	[MAGIAOVIEN] [char](10) NULL,
	[MAMONHOC] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHANANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOAHOC]    Script Date: 12/24/2022 4:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOAHOC](
	[MAKHOAHOC] [char](5) NOT NULL,
	[TENKHOA] [nvarchar](50) NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
	[MAKHANANG] [char](10) NULL,
	[MAMONHOC] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOAHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/24/2022 4:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMONHOC] [char](10) NOT NULL,
	[TENMONHOC] [nvarchar](50) NULL,
	[SOTIET] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMONHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/24/2022 4:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TAIKHOAN] [nvarchar](20) NOT NULL,
	[MATKHAU] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUSI]    Script Date: 12/24/2022 4:09:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUSI](
	[IDTS] [char](5) NOT NULL,
	[TENTUSI] [nvarchar](50) NOT NULL,
	[PHAI] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[MAHOIDONG] [char](10) NULL,
	[QUEQUAN] [nvarchar](50) NULL,
	[MALOPHOC] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KETQUAHOCTAP]  WITH CHECK ADD FOREIGN KEY([MAKHOAHOC])
REFERENCES [dbo].[KHOAHOC] ([MAKHOAHOC])
GO
ALTER TABLE [dbo].[KETQUAHOCTAP]  WITH CHECK ADD FOREIGN KEY([IDTS])
REFERENCES [dbo].[TUSI] ([IDTS])
GO
ALTER TABLE [dbo].[KHANANG]  WITH CHECK ADD FOREIGN KEY([MAGIAOVIEN])
REFERENCES [dbo].[GIAOVIEN] ([MAGIAOVIEN])
GO
ALTER TABLE [dbo].[KHANANG]  WITH CHECK ADD FOREIGN KEY([MAMONHOC])
REFERENCES [dbo].[MONHOC] ([MAMONHOC])
GO
ALTER TABLE [dbo].[KHOAHOC]  WITH CHECK ADD FOREIGN KEY([MAKHANANG])
REFERENCES [dbo].[KHANANG] ([MAKHANANG])
GO
ALTER TABLE [dbo].[KHOAHOC]  WITH CHECK ADD FOREIGN KEY([MAMONHOC])
REFERENCES [dbo].[MONHOC] ([MAMONHOC])
GO
ALTER TABLE [dbo].[TUSI]  WITH CHECK ADD FOREIGN KEY([MAHOIDONG])
REFERENCES [dbo].[HOIDONG] ([MAHOIDONG])
GO
ALTER TABLE [dbo].[TUSI]  WITH CHECK ADD FOREIGN KEY([MALOPHOC])
REFERENCES [dbo].[DMLOPHOC] ([MALOPHOC])
GO
